<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener, ServletContextAttributeListener</description>
        <listener-class>model_zdarzen.MyListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>myapp.services.ServletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHome</servlet-name>
        <servlet-class>myapp.services.ServletHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSaveCookie</servlet-name>
        <servlet-class>myapp.services.ServletSaveCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page1</servlet-name>
        <servlet-class>myapp.services.Page1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page2</servlet-name>
        <servlet-class>myapp.services.Page2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page3</servlet-name>
        <servlet-class>myapp.services.Page3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page4</servlet-name>
        <servlet-class>myapp.services.Page4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteCookie</servlet-name>
        <servlet-class>myapp.services.ServletDeleteCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JspZAD2atrybuty</servlet-name>
        <servlet-class>myapp.services.JspZAD2atrybuty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jspZAD1</servlet-name>
        <jsp-file>/jspZAD1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>jspZAD2</servlet-name>
        <jsp-file>/jspZAD2.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>jspZAD3</servlet-name>
        <jsp-file>/jspZAD3.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>JspZAD3atrybuty</servlet-name>
        <servlet-class>myapp.services.JspZAD3atrybuty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JspZAD3url</servlet-name>
        <servlet-class>myapp.services.JspZAD3url</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jspZAD4</servlet-name>
        <jsp-file>/jspZAD4.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ShowXML</servlet-name>
        <servlet-class>xml.ShowXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidation</servlet-name>
        <servlet-class>xml.ServletValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNumbers</servlet-name>
        <servlet-class>model_zdarzen.ServletNumbers</servlet-class>
    </servlet>
    <jsp-config>
        <taglib>
            <taglib-uri>/myTaglib</taglib-uri>
            <taglib-location>/WEB-INF/tlds/myTaglib.tld</taglib-location>
        </taglib>
        <jsp-property-group>
            <url-pattern>/WEB-INF/logging-jsp/*</url-pattern>
            <include-prelude>/WEB-INF/shared/jsp-header.jsp</include-prelude>
            <include-coda>/WEB-INF/shared/jsp-footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>myapp.services.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVerify</servlet-name>
        <servlet-class>myapp.services.LoginVerify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaveCookie</servlet-name>
        <url-pattern>/savecookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page1</servlet-name>
        <url-pattern>/Page1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page2</servlet-name>
        <url-pattern>/Page2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page3</servlet-name>
        <url-pattern>/Page3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page4</servlet-name>
        <url-pattern>/Page4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteCookie</servlet-name>
        <url-pattern>/deletecookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jspZAD1</servlet-name>
        <url-pattern>/jspZAD1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jspZAD2</servlet-name>
        <url-pattern>/jspZAD2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspZAD2atrybuty</servlet-name>
        <url-pattern>/JspZAD2atrybuty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jspZAD3</servlet-name>
        <url-pattern>/jspZAD3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspZAD3atrybuty</servlet-name>
        <url-pattern>/JspZAD3atrybuty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspZAD3url</servlet-name>
        <url-pattern>/JspZAD3url</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jspZAD4</servlet-name>
        <url-pattern>/jspZAD4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowXML</servlet-name>
        <url-pattern>/ShowXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidation</servlet-name>
        <url-pattern>/ServletValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNumbers</servlet-name>
        <url-pattern>/Number</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>rozmiar</param-name>
        <param-value>10</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVerify</servlet-name>
        <url-pattern>/LoginVerify</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
