<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <listener>
        <listener-class>Listener</listener-class>
    </listener>

    <context-param>
        <param-name>nameFile</param-name>
        <param-value>wordsList.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>loadGame</servlet-name>
        <servlet-class>LoadGame</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loadGame</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletHome</servlet-name>
        <servlet-class>login.ServletHome</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletHome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVerify</servlet-name>
        <servlet-class>login.LoginVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteCookie</servlet-name>
        <servlet-class>login.ServletDeleteCookie</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ServletDeleteCookie</servlet-name>
        <url-pattern>/deletecookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVerify</servlet-name>
        <url-pattern>/LoginVerify</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>